<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="actividad2.css">
        <title>ACTIVIDAD 2</title>
    </head>
  <div="container">
     <header> 
     <h1>LOGOTIPO</h1>
    <span> <botton type="Submit">Buscar</botton> <input type="text" placeholder=""></span>
    </header>

   <section class="menu">
    <a href="#">LoremIpsumDolorSitAmet</a>
    </section>
<body>
    
   <aside class="a1">
    
        <a href="#" > Noticias</a> 
       <br>
        <a>Lorem ipsum di sotori</a>
       <a href="#">Lorem ipsum di sotori</a>
       <br>
       <br>
       <a>Lorem ipsum di sotori </a>
       <a href="#">Lorem ipsum di sotori</a>
       <br>
       <br>
       <a>dd/mm/aaaa</a>
       <a href="#">Lorem ipsum di sotori </a>
       <br>
       <br>
       <a>Lorem ipsum di sotori</a>
       <a href="#">Lorem ipsum di sotori </a>
       <br>
       <br>
        <a>Lorem ipsum di sotori</a>
       <a href="#">Lorem ipsum di sotori</a>
       <br>
       <br>
       <div id="dos">
       <a href="#">consequuntur commodi</a>
           
       </div>
       <br>
           <a href="#">consequuntur commodi </a>
       <br>
       <br>
       <a href="#">consequuntur commodi </a>
       <br>
       <br>
       <a href="#">consequuntur commodi</a>
    </aside>
    
    <section class="s2">
    <h1>lorem ipsum di sodori consequuntur commodi </h1>
        <img class="img1" src="https://pjreddie.com/media/image/yologo_2.png">
        <p>olor sit amet consectetur adipisicing elit. Dolores provident nobis, 
                reiciendis consequuntur commodi cupiditate quidem illum ratione quaerat. Earum natus 
               non nesciunt, amet reiciendis</p>
        <p><a href="#">lorem ipsum</a></p>
        <br>
        <img class="img2" src="https://pjreddie.com/media/image/yologo_2.png">
        <p>olor sit amet consectetur adipisicing elit. Dolores provident nobis, 
                reiciendis consequuntur commodi cupiditate quidem illum ratione quaerat. Earum natus 
               non nesciunt, amet reiciendis</p>        
               <a href="#">lorem ipsum</a>
    </section>
    <section class="s3">
    
    <h1>quis nostrum exercitationem ullam corporis </h1>
        <p>Sedquis nostrum exercitationem ullam corporis  sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  </p>
        <p><a href="#">lorem ipsum</a></p>
        <br>
        <br>
        <h2>quis nostrum exercitationem ullam corporis </h2>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam </p>
         <p><a href="#">quis nostrum exerci</a></p>
    </section>
    <footer>
            <a href="#">Link 1</a>
                   <a href="#">Link </a>
                   <a href="#">Link </a>
                   <a href="#">Link </a>
                   <a href="#">Link </a>
                   <a href="#">Link </a>
                   <a href="#">Link </a>
                   <p>@CopyRight</p>
           </footer>
    
    </div>

</body>
    


</html> 